{% extends 'myapp/base.html' %}


{% block content %}

<div class="p-5 text-center bg-light">
    <h2 class="mb-3">{{ request.site.siteconfig.top_title }}</h2>
    <p class="mb-3">{{ request.site.siteconfig.top_subtitle }}</p>
    <a class="btn btn-primary" href="" role="button">Call to action</a>
    
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in post_list %}
    <div class="col">
        <div class="card h-100">
            {% if item.thumbnail %}
            <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="{{ item.title }}" />
            {% else %}
            <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="{{ item.title }}" />
            {% endif %}
            <!-- idじゃなくてpkでも良い -->
            <a href="{% url 'myapp:post_detail' item.id %}"></a>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}<small>{{ item.author }}</small></h5>
                <p>{{ item.category }}</p>
                <p class="card-text"><a href="{% url 'myapp:post_detail' item.id %}" class="btn btn-primary">もっと読む</a>>{{ item.content|safe |urlize }}</p>
            </div>
            <div class="card-footer">
                
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}